.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin-bottom: 15px;
}

.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 25px;
    position: relative;
}

@keyframes rotation {
    from {
        transform: none;
    }
    to {
        transform: rotateZ(360deg);
    }
}

.screen-header__icons span:last-child i {
    transition: 1s;
}

.screen-header__icons span:last-child:hover i {
    animation: rotation 2s linear infinite;
}

.screen-header__update {
    display: block;
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    right: -5px;
    top: -8px;
}
